.root {
    -fx-background-color: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    -fx-font-family: "Segoe UI", sans-serif;
}

.header {
    -fx-font-size: 52px;
    -fx-padding: 60px 0 40px 0;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-button {
    -fx-font-size: 24px;
    -fx-pref-width: 350px;
    -fx-padding: 20px;
    -fx-background-color: linear-gradient(to bottom, #43cea2, #185a9d);
    -fx-text-fill: white;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 4);
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-transition: all 0.3s ease-in-out;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(to bottom, #00c9ff, #92fe9d);
    -fx-text-fill: black;
}
